.about {
    position: relative;
    padding: 161px 0 120px 0;
    background-color: #f5f5f5;
    &__bg {
        position: absolute;
        top: 142px;
        right: 0;
    }
    &__title {
        margin-bottom: 65px;
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__block-text {
        margin-left: 30px;
        font-size: 24px;
        line-height: 29px;
        width: 604px;
    }
}