.conditions {
    position: relative;
    padding-top: 143px;
    padding-bottom: 133px;
    background-color: #f5f5f5;
    z-index: 2;
    &__image {
        position: absolute;
        right: 0;
        top: 100px;
        z-index: -1;
    }
    &__title {
        margin-bottom: 60px;
    }
    &__descr {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        width: 1163px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}