.main {
    min-height: 931px;
    background: #000 url('../img/main/main-bg.png') no-repeat;
    background-size: contain;
    background-position: top right;
    position: relative;
    z-index: 2;
    &__man-image {
        position: absolute;
        top: 40px;
        right: 85px;
    }
}