.questions {
    position: relative;
    padding-top: 170px;
    background-color: #f5f5f5;
    &__image-left {
        position: absolute;
        bottom: 0;  
        left: 0;
    }
    &__image-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__title {
        margin-bottom: 60px;
    }
    &__accordion {
        width: 1193px;
        margin: 0 auto;
    }
    &__question {
        overflow: hidden;
        margin-bottom: 0;
        border-bottom: 4px solid rgba(#0F2844, .6);
        &:first-child {
            border-top: 4px solid rgba(#0F2844, .6);
        }
    }
    &__question-header {
        position: relative;
        font-family: 'Roboto Black', sans-serif;
        font-size: 24px;
        line-height: 28px;
        color: #0F2844;
        padding: 21px 0;
        cursor: pointer;
        &--active {
            margin-bottom: 22px;
            .questions__item__button__line--2 {
                transform: rotateX(90deg);
            }
        }
    }
    &__question-icon {
        position: absolute;
        top: 21px;
        right: 45px;
        width: 40px;
        height: 40px;
        border: 2px solid #FC4639;
        border-radius: 100%;
    }
    &__item__button__line {
        width: 40%;
        background-color: #FC4639;
        height: 2px;
        position: absolute;
        transition: 0.3s;
    }
    &__item__button__line--1 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__item__button__line--2 {
        width: 2px;
        height: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__question-content {
        transition: 0.3s;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s;
        // &--active {
        //     padding: 25px 0 21px 0;
        //     height: auto;
        // }
    }
}